:root {
--c1: #ffaf4d !important;
--c2: #2a2a2a !important;
--c3: #464646 !important;
--c4: #696969 !important;
--c5: #a8a8a8 !important;
--c6: #e0e0e0 !important;
}

@font-face{
    font-family: 'Source Code Pro';
    font-style: normal;
    font-stretch: normal;
    src: url(./src/SourceCodePro-Black.ttf.) format('truetype');
}

body{
    background: #feadb9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #D6A4A4, #DAE2F8); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #D6A4A4, #DAE2F8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin: 0px auto;
    height: 452px;
    width: 505px;
    position: relative;
    top: 216px;
}

.cuadrado{

}

#divimagen{
    width: 292px;
    height: 494px;
    position: absolute;
    top: 0px;
    left: 0px;
    transition: .5s;
    background-size: cover;
    background-position: center center;
}

#botones{
    position: absolute;
    height: 452px;
    width: 200px;
    left: 305px;
}

.boton{
    text-align: left;
}

a.links{
    display: block;
    font-family: gotham, monofonto;
    text-decoration: none;
    color: var(--c2);
    height: 20px;
    padding: 2px;
    margin: 10px;
    position: relative;
    top: 0px;
}

a.links:hover{
    color: var(--c6);
    background-color: var(--c2);
}